


    body{
        background-image: url(imagen.gif);
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1{
        color: rgb(177, 243, 177);
        background-color: rgb(27, 14, 41);
        opacity:90% ;
        padding: 20px;
        border-radius: 12px;
        border: 6px solid white;
        text-align: center;
        margin: auto;
        width: 300px;
        font-family: cursive;
        
    }
    p{  color: aquamarine;
        background-color: rgb(27, 14, 41);
        opacity:90% ; 
        padding: 20px;
        border-radius: 12px;
        border:6px solid white;
        text-align:center ;
        margin:auto; 
        width: 300px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

    .contenedor-reproductor {
            width: 350px;
            margin: 0 auto;
            text-align: center;
            border: px solid #ccc;
            padding: 5px;
            }
    
        

    audio::-webkit-media-controls-panel {
            background-color: #fc0060;
            border: 10px;color: #ccc;
            opacity:initial ;
        }
       
    audio::-webkit-media-controls-play-button {
            background-color: #2b1396;
            border: 200px;
            border-radius: 20px;
            box-shadow:#4c2eb8;
            size: 13px;

        
        }

    audio::-webkit-media-controls-pause-button {
            background-color: #F44336;
        }

    div1{
        
        background-color: aquamarine;
        opacity: 80%;
        border: 3px;
    }

    div2{
        margin-top: auto;
        background-color: aquamarine;
        opacity: %;
    }

    div3{
        margin-top:auto
        background-color: aquamarine;
        opacity: %;
    }

    
    div4{
        background-image: center;
        

    }
    .contenedor1 img {
        border:5px solid #3406dd;
        border: radius 10px;
        box-shadow: 12px;
    }

    .contenedor2 img {
        border:5px solid #4c2eb8;
        border: radius 10px;
        box-shadow: 12px;
    }

    .contenedor3 img {
        border:5px solid #3406dd;
        border: radius 10px;
        box-shadow: 12px;
    }

    .contenedor4 img {
        border:5px solid #3406dd;
        border: radius 10px;
        box-shadow: 12px;
        opacity:99% ;
    }
